@model IEnumerable<AdaptToChanges.Models.ToDoList>

@{
    ViewData["Title"] = "View List Summary";
}

<h1>List Summary</h1>

@if (Model.Count() == 0)
{
    <h2>There is nothing in the List</h2>
}
else {
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDoListName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoListDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ToDoListName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDoListDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberName)
            </td>
            <td>
                <a class="btn btn-danger" asp-action="Remove" asp-route-id="@item.ToDoListId">Remove List</a>
            </td>
        </tr>
}
    </tbody>
</table>
}