@model AdaptToChanges.Models.ToDoList

@{
    ViewData["Title"] = "Details for " + Model.ToDoListName;
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoListName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDoListName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoListDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDoListDescription)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberId)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
